{% extends "layout/base.html" %}

{% block content %}
<div>
    <h1>Elige una de nuestras categorías</h1>
    <p>¿Estarás preparado para superarlas?</p>
    <hr>
</div>

<div class="row mb-4">

    <h3>Países</h3>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

</div>

<div class="row mb-4">

    <h3>Películas</h3>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

</div>

<div class="row mb-4">

    <h3>Matemáticas</h3>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-3">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">Lorem Ipsum</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}