<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poppins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>{{ title }}</title>
</head>
<body>
  <div class="container-fluid">
    <!-- START SIDEBAR -->
    <div class="row">
      <nav class="col-md-3 col-lg-2 d-none d-lg-block bg-light sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home_controller') }}"><i class="bi bi-house-door-fill"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('play_controller') }}"><i class="bi bi-joystick"></i> Jugar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('rankings_controller') }}"><i class="bi bi-list-ol"></i> Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('awards_controller') }}"><i class="bi bi-trophy-fill"></i> Premios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile_controller') }}"><i class="bi bi-person-fill"></i> Perfil</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{ url_for('settings_controller') }}"><i class="bi bi-gear-fill"></i> Configuración</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('help_controller') }}"><i class="bi bi-patch-question-fill"></i> Ayuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_controller') }}"><i class="bi bi-box-arrow-right"></i> Iniciar Sesión</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- END SIDEBAR -->

      <!-- START DRAWER NAVIGATION MOBILE -->
      <nav class="navbar navbar-expand-lg d-lg-none d-sm-block navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Trivias UCV</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="d-lg-none d-sm-block offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h6 class="offcanvas-title" id="offcanvasExampleLabel">Trivias UCV</h6>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav d-lg-none">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home_controller') }}"><i class="bi bi-house-door-fill"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('play_controller') }}"><i class="bi bi-joystick"></i> Jugar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('rankings_controller') }}"><i class="bi bi-list-ol"></i> Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('awards_controller') }}"><i class="bi bi-trophy-fill"></i> Premios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile_controller') }}"><i class="bi bi-person-fill"></i> Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('settings_controller') }}"><i class="bi bi-gear-fill"></i> Configuración</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('help_controller') }}"><i class="bi bi-patch-question-fill"></i> Ayuda</a>
            </li>
            {% if current_user.alias %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_controller') }}"><i class="bi bi-box-arrow-right"></i> Iniciar Sesión</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- END DRAWER NAVIGATION MOBILE -->

      <!-- MAIN CONTENT -->
      <main class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block content %}{% endblock %}
      </main>
      <!-- END MAIN CONTENT -->
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>