{% extends "layout/base.html" %}

{% block content %}
<div>
    <h1>Conoce a los mejores jugadores</h1>
    <p>¿No apareces en nuestro ranking? ¡Sigue jugando para llegar a ser el mejor!</p>
    <hr>
</div>

<div class="row mb-4">

    <div class="col-lg-4 col-sm-12 col-md-12">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">1er Lugar - alexanyernas - 2500</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-4">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">2do Lugar - alegiannattasio - 2310</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-12 p-4">
        <div class="card">
            <img src="https://placehold.jp/120x100.png" class="card-img-top" alt="Option">
            <div class="card-body">
              <p class="card-text">3er Lugar - fermazzaro - 2290</p>
            </div>
        </div>
    </div>

</div>

<div class="mb-4">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Alias</th>
            <th scope="col">Puntaje</th>
            <th scope="col">Categoría</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">4</th>
                <td>Mark</td>
                <td>1000</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>950</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Larry</td>
                <td>900</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Pedro</td>
                <td>890</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Juan</td>
                <td>860</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Rafael</td>
                <td>800</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Titi</td>
                <td>790</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}