{% extends "layout/baseAuth.html" %}

{% block content %} 
<form action="" method="post" class="row">
    <div class="col-12 mb-4">
        <input 
            name="email"
            type="text" 
            class="form-control form-control-md" 
            placeholder="Correo Electrónico"
        >
    </div>
    <div class="col-12 text-center mt-4">
        <button 
            type="submit" 
            class="btn text-white mb-5 px-4 bg-secondary"
        >
            Enviar Código
        </button>
    </div>
</form>

<div class="row text-center g-3">
    <div class="col-12">
        <a class="text-secondary" href="{{ url_for('login_controller') }}">Iniciar Sesión</a>
    </div>
</div>
{% endblock %}