{% extends "layout/baseAuth.html" %}

{% block content %}
<form action="/auth/new-password" method="post" class="row custom-width mx-auto">
    {{ form.csrf_token }}
    <div class="col-12 mb-4">
        {{ form.code(class="form-control form-control-md", placeholder="Código") }}
    </div>
    <div class="col-12 input-group mb-4">
        {{ form.password(class="form-control form-control-md", placeholder="Contraseña") }}
    </div>
    <div class="col-12 input-group">
        {{ form.confirm_password(class="form-control form-control-md", placeholder="Confirmar Contraseña") }}
    </div>
    <div class="col-12 text-center mt-4">
        <button 
            type="submit" 
            class="btn text-white mb-5 px-4 bg-secondary"
        >
            Cambiar Contraseña
        </button>
    </div>
</form>
{% endblock %}