{% extends "layout/baseAuth.html" %}

{% block content %}
<form action="" method="post" class="row custom-width mx-auto">
    <div class="col-12 mb-4">
        <input 
            name="code"
            type="text" 
            class="form-control form-control-md" 
            placeholder="Código"
        >
    </div>
    <div class="col-12 input-group mb-4">
        <input
            name="password" 
            type="password" 
            class="form-control form-control-md" 
            placeholder="Contraseña"
        >
        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
            <i class="bi bi-eye"></i>
        </button>
    </div>
    <div class="col-12 input-group">
        <input
            name="confirm_password" 
            type="password" 
            class="form-control form-control-md" 
            placeholder="Confirmar Contraseña"
        >
        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
            <i class="bi bi-eye"></i>
        </button>
    </div>
    <div class="col-12 text-center mt-4">
        <button 
            type="submit" 
            class="btn text-white mb-5 px-4 bg-secondary"
        >
            Cambiar Contraseña
        </button>
    </div>
</form>
{% endblock %}