{% extends "layout/baseAuth.html" %}

{% block content %}
<form action="/auth/register" method="post" class="row custom-width mx-auto">
    {{ form.csrf_token }}
    <div class="col-12 mb-4">
        {{ form.first_name(class="form-control form-control-md", placeholder="Nombre") }}
    </div>
    <div class="col-12 mb-4">
        {{ form.last_name(class="form-control form-control-md", placeholder="Apellido") }}
    </div>
    <div class="col-12 mb-4">
        {{ form.alias(class="form-control form-control-md", placeholder="Alias") }}
    </div>
    <div class="col-12 mb-4">
        {{ form.phone(class="form-control form-control-md", placeholder="Número de Teléfono") }}
    </div>
    <div class="col-12 mb-4">
        {{ form.email(class="form-control form-control-md", placeholder="Correo Electrónico") }}
    </div>
    <div class="col-12 input-group mb-4">
        {{ form.password(class="form-control form-control-md", placeholder="Contraseña") }}
    </div>
    <div class="col-12 input-group">
        {{ form.confirm_password(class="form-control form-control-md", placeholder="Confirmar Contraseña") }}
    </div>
    <div class="col-12 text-center mt-4">
        <button 
            type="submit" 
            class="btn text-white mb-5 px-4 bg-secondary"
        >
            Guardar
        </button>
    </div>
</form>

<div class="row text-center g-3">
    <div class="col-12">
        <a class="text-secondary" href="{{ url_for('login_controller') }}">¿Ya Tiene Cuenta?</a>
    </div>
</div>
{% endblock %}