{% extends "layout/base.html" %}

{% block content %}
<div class="row align-items-center">
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="row align-items-center">
            <div class="col">
                <img src="https://placehold.jp/320x320.png" alt="Profile">
            </div>
            <div class="col">
                <h3>Ale Giannattasio</h3>
                <h3>@alegiannattasio</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12 col-md-12">
        <button class="btn btn-secondary">
            Editar perfil
        </button>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <p>Nombre y Apellido: Alejandra Giannattasio</p>
    <p>Correo Electrónico: alegiannattasioxd@gmail.com</p>
    <p>Teléfono: 0412123456789</p>
</div>
{% endblock %}